div#choice_board {
	margin: 0 auto;
	transform-style: preserve-3d;
}

body {
	background-image: url(d1.jpg);
}


table.boardd {
	border-collapse: collapse;
    background: rgb(236,241,244);
    background: 
        -moz-linear-gradient(top,  rgba(236,241,244,1) 0%, 
        rgba(190,202,217,1) 100%);
    background: 
        -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,241,244,1)), 
        color-stop(100%,rgba(190,202,217,1)));
    background: 
        -webkit-linear-gradient(top,  rgba(236,241,244,1) 0%,
        rgba(190,202,217,1) 100%);
    background: 
        -o-linear-gradient(top,  rgba(236,241,244,1) 0%,
        rgba(190,202,217,1) 100%);
    background: 
        -ms-linear-gradient(top,  rgba(236,241,244,1) 0%,
        rgba(190,202,217,1) 100%);
    background: 
        linear-gradient(to bottom,  rgba(236,241,244,1) 0%,
        rgba(190,202,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf1f4', endColorstr='#becad9',GradientType=0 );

    margin-bottom: 10px;
}

table.boardd td, table.boardd th {
    padding: 2px; 
}


div#check {
	width: 70px;
	margin-top: 5px;
	float: left;	
}

div#hint {
	width: 70px;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
}

div#save {
	margin: 0 auto;
	width: 90px;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
}

div#load {
	margin: 0 auto;
	width: 90px;
	margin-top: 5px;
	visibility: hidden;
	float: left;
}

div#pause {
	width: 70px;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
}

div#undo, div#redo {
	width: 70px;
	margin-top: 5px;
	margin-left: 5px;
	float: right;
}

#seconds {
    background: rgb(236,241,244);
    background: 
        -moz-linear-gradient(top,  rgba(236,241,244,1) 0%, 
        rgba(190,202,217,1) 100%);
    background: 
        -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,241,244,1)), 
        color-stop(100%,rgba(190,202,217,1)));
    background: 
        -webkit-linear-gradient(top,  rgba(236,241,244,1) 0%,
        rgba(190,202,217,1) 100%);
    background: 
        -o-linear-gradient(top,  rgba(236,241,244,1) 0%,
        rgba(190,202,217,1) 100%);
    background: 
        -ms-linear-gradient(top,  rgba(236,241,244,1) 0%,
        rgba(190,202,217,1) 100%);
    background: 
        linear-gradient(to bottom,  rgba(236,241,244,1) 0%,
        rgba(190,202,217,1) 100%);
	margin: 10px auto auto auto;
	transform-style: preserve-3d;

	position: relative;
	width: 120px;
	max-width: 120px;
    cursor: default;
}

.red {	
	color: red;
}

div.break {
	float: break;
}

#choice_board {
	background-color: InfoBackground;
	width: 240px;
}

div#debug {
	visibility: hidden;
    display: none;
}

.field2 {
    width: 50px;
    height: 50px;
    background-color: beige;
}

#nr_nr {
    text-align: center;
}

html body div.whole div#board table.ttt tbody tr td input.field2 {
    font-size: 2.0rem;
    text-align: center;
}

.ttt {
	background-color: white;
    text-align: center;
}

.wyc {
	margin: auto;
	width: 150px;
}
  
#information {
    color: red;
    font-size: 14px;
}
  
.wrapper {
    display: inline-block;
    width: 300px;
    height: 50px;
    vertical-align: top;
    margin: 1em 1.5em 2em 0;
    cursor: pointer;
    position: relative;
    font-family: Tahoma, Arial;
    -webkit-perspective: 4000px;
    -moz-perspective: 4000px;
    -ms-perspective: 4000px;
    -o-perspective: 4000px;
    perspective: 4000px;
    cursor: default;
}
  
.item {
    height: 100px;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition: -webkit-transform .6s;
    -moz-transition: -moz-transform .6s;
    -ms-transition: -ms-transform .6s;
    -o-transition: -o-transform .6s;
    transition: transform .6s;
}
  
.item:hover {
    -webkit-transform: translateZ(-50px) rotateX(105deg);
    -moz-transform: translateZ(-50px) rotateX(105deg);
    -ms-transform: translateZ(-50px) rotateX(105deg);
    -o-transform: translateZ(-50px) rotateX(105deg);
    transform: translateZ(-50px) rotateX(105deg);
    cursor: default;
}
    
.item:hover img {
    box-shadow: none;
    border-radius: 15px;
}
      
.item:hover .information {
    box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
    border-radius: 25px;
    text-align: center;
}

.item img {
    display: block;
    position: absolute;
    top: 0;
    border-radius: 3px;
    box-shadow: 0px 3px 8px rgba(0,0,0,0.3);
    -webkit-transform: translateZ(50px);
    -moz-transform: translateZ(50px);
    -ms-transform: translateZ(50px);
    -o-transform: translateZ(50px);
    transform: translateZ(50px);
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;    
}
    
.item .information {
    text-align: center;
    display: block;
    position: absolute;
    top: 0;
    height: 30px;
    width: 290px;
    border-radius: 15px;
    padding: 10px;
    font-size: 12px;
    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);
    box-shadow: none;
    background: rgb(236,241,244);
    background: 
        -moz-linear-gradient(top,  rgba(236,241,244,1) 0%, 
        rgba(190,202,217,1) 100%);
    background: 
        -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(236,241,244,1)), 
        color-stop(100%,rgba(190,202,217,1)));
    background: 
        -webkit-linear-gradient(top,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
    background: 
        -o-linear-gradient(top,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
    background: 
        -ms-linear-gradient(top,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
    background: 
        linear-gradient(to bottom,  rgba(236,241,244,1) 0%,rgba(190,202,217,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ecf1f4', endColorstr='#becad9',GradientType=0 );
    -webkit-transform: rotateX(-100deg) translateZ(50px);
    -moz-transform: rotateX(-100deg) translateZ(50px);
    -ms-transform: rotateX(-100deg) translateZ(50px);
    -o-transform: rotateX(-100deg) translateZ(50px);
    transform: rotateX(-100deg) translateZ(50px);
    -webkit-transition: all .6s;
    -moz-transition: all .6s;
    -ms-transition: all .6s;
    -o-transition: all .6s;
    transition: all .6s;     
}
    
.information strong {
    display: block;
    margin: .2em 0 .5em 0;
    font-size: 20px;
    font-family: "Oleo Script";
}
